.shopArea {
    display: grid;
    grid-template-columns: 1fr 260px;
}


.home_card_right {
    background-color: gray;
    color: #fff;
    padding: 30px 10px 20px 30px;
    /* required */
    height: 100%;
    position: sticky;
    top: 0;

}