.shopArea {
    display: flex;
    gap: 4%;
}

.home_card_left {
    flex: 0 0 70%;
}

.home_card_right {
    flex: 0 0 26%;
    background-color: gray;
    color: #fff;
    padding: 30px 10px 20px 30px;
}